.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
.material-icons{
    font-size: 2.4em;
    color: black;
    cursor: pointer;
}
.book-icon {
    height: inherit;
}
#book-button {
    height: inherit;
}
.card{
    width: 300px;
}
.card .card-image .card-title{
    color: black;
    font-weight: 400
}
.cart{
    margin-top:40px;
}
.collection .collection-item{
    display: flex;
}
.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color:darkcyan;
    display: block;
    margin-bottom: 20px;
    
}
.collection .collection-item img{
    width: 150px;
    margin-right: 25px;
}
.item-desc{
    align-self:center;
}



.modal {
    background: peachpuff;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    height:fit-content;
    width: 96%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 8px;
    border-style: solid;
    border-width: 8px;
    border-color: grey;
  }
.modal .modal-footer{
    background: none;
    text-align: center;
}
.modal-backdrop
{
    opacity:0.5 !important;
}
#book-detail-cover{
    max-width: 25%;
    height: auto;
    padding:8px;
    background: white;
    border-color: grey;
    border-style: solid;
}
#book-detail-title {
    width: 73%;
    float: right;
    padding: 0 15px; 
}
#book-detail-author{
    margin-top: -16px;
    width:73%;
    float: right;
    padding: 0 15px; 
}
#book-detail-summary{
    width: 73%;
    padding: 0 15px; 
    float: right;
}
